.options {
    margin:0;
    padding:0;
}

.option {
    display:flex;
    justify-content: space-between;
    list-style: none;
    padding: $l-size $m-size;
    border-bottom: 1px solid darken($off-white, 10%);
}

.option__text {
    color: #fff;
    font-weight: 500;
    font-size: 2rem;
    margin:0;
    word-break: break-word;
}
